<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>番号</th>
        <td th:text="${board.id}"></td>
    </tr>
    <tr>
        <th>題目</th>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <th>作成者	</th>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <th>作成時間	</th>
        <td th:text="${board.createdAt}"></td>
    </tr>
    <tr>
        <th>ビュー</th>
        <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
        <th>内容</th>
        <td th:text="${board.boardContents}"></td>
    </tr>
</table>
<button onclick="listReq()">目録</button>
<button onclick="updateReq()">修整</button>
<button onclick="deleteReq()">削除</button>
</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/list";
    }
    const updateReq = () => {
        location.href = `/update/[[${board.id}]]`;
    }

    const deleteReq = () => {
        location.href = `/delete/[[${board.id}]]`;
    }
</script>
</html>