<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <a href="/" style="margin-right: 10px;">ホーム</a>
    <a href="/save">作成</a>
</div>
<table>
    <tr>
        <th>番号</th>
        <th>題目</th>
        <th>作成者</th>
        <th>作成時間</th>
        <th>ビュー</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:text="${board.boardTitle}" th:href="@{|/${board.id}|}"></a>
        </td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
</body>
</html>
