<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登録</title>
</head>
<body>
<h2>登録</h2>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
<form th:action="@{/registration}" th:object="${userDTO}" method="post">
    <div>
        <label>ユーザー名:</label>
        <input type="text" th:field="*{username}" />
    </div>
    <div>
        <label>パスワード:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
<a href="/" style="margin-right: 10px;">ホーム</a>
</body>
</html>
